@import "../../scss/theme.scss";
@import "../../scss/mixins.scss";

.footer {
  @include flex(column, center, center);
  font-family: $font4;
  box-sizing: border-box;
  // position: absolute;
  // left: 0;
  // bottom: 0;
  padding: 43px 165px 24px;
  margin-top: 120px;
  max-width: 100vw;
  // width: 100%;
  // height: 80px;
  z-index: 997;
  font-size: 15px;
  background: $footer-bg;
  user-select: none;

  @include b('tablet') {
    padding: 43px 30px 24px;
  }

  @include b(500) {
    margin-top: 50px;
  }

  &-logo {
    @include flex(column, center, center);
    width: 100%;
    margin: 15px 0;
  }

  &-divider{
    width: 100%;
    background: $white;
    opacity: 0.2;
    height: 1px;
    content: '';
    margin-top: 24px;
  }

  &-links{
    @include flex(row, center, space-between);
    width: 100%;

    @include b('tablet') {
      @include flex(column, center, center);
    }
  }

  &-social {
    @include flex(row, center);
    gap: 16px;
  }

  &-copyright {
    @include flex(column, center, center);
    margin: 15px 0;
    font-size: 14px;
    line-height: 24px;
    color: $grey3;
    font-feature-settings: 'liga' off;
    font-family: $font4;
    font-weight: normal;
    text-align: center;
  }
}
