@import "./scss/theme.scss";
@import "./scss/mixins.scss";

@include font-face("Celias", "../assets/fonts/Celias/Celias-Regular", normal);
@include font-face("Celias", "../assets/fonts/Celias/Celias-Medium", 500);
@include font-face("Poppins", "../assets/fonts/Celias/Celias-Bold", 600);
@include font-face("Poppins", "../assets/fonts/Poppins/Poppins-Thin", 100);
@include font-face(
  "Poppins",
  "../assets/fonts/Poppins/Poppins-ExtraLight",
  200
);
@include font-face("Poppins", "../assets/fonts/Poppins/Poppins-Light", 300);
@include font-face(
  "Poppins",
  "../assets/fonts/Poppins/Poppins-Regular",
  normal
);
@include font-face("Poppins", "../assets/fonts/Poppins/Poppins-Medium", 500);
@include font-face("Poppins", "../assets/fonts/Poppins/Poppins-Bold", 600);
@include font-face("Poppins", "../assets/fonts/Poppins/Poppins-SemiBold", 700);
@include font-face("Poppins", "../assets/fonts/Poppins/Poppins-Black", 800);
@include font-face("Poppins", "../assets/fonts/Poppins/Poppins-ExtraBold", 900);

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: $scrollbar-background;
}

*::-webkit-scrollbar-thumb {
  background-color: $scrollbar;
}

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: $font4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background-color: $bg;
  box-sizing: border-box;
  height: 100%;
}

h1 {
  font-weight: bold;
  line-height: 55px;
  margin: 0;
}

input {
  font-family: $font4;
}

input::placeholder {
  font-family: $font4;
  color: $grey;
  opacity: 0.6;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-position: top, center;
  background-repeat: space;
  background-image: url(./assets/icons/background.svg);
  @include b(500) {
    background-image: none;
  }
}

.App-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  // height: 800px;
  background-position: top, center;
  background-repeat: repeat;
  background: linear-gradient(
      65.82deg,
      #0d0c11 27.39%,
      #180545 68.52%,
      #2c0c1a 92.68%
    ),
    linear-gradient(147.05deg, #1c0e40 0%, #000000 100%);
  // filter: grayscale(1);
  z-index: -1;
  box-sizing: border-box;
  @include b(500) {
    background: $dark-black;
  }
}

.App-container {
  position: relative;
  margin: auto;
  height: 100%;
  // max-width: 1400px;
}

.body {
  @include flex(column, center, center);
  // padding: 100px + 37px 30px 80px 30px;
  user-select: none;
  box-sizing: border-box;
}

.info {
  margin: 49px 30px 30px 30px;
  max-width: 500px;
  font-size: 18px;
}

.description {
  margin-top: 30px;
  line-height: 26px;
}

.link {
  text-decoration: none;
  color: $link;
  opacity: 1;
  &-transaction {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
  }
}

.link-underlined {
  color: $link;
  opacity: 1;
  word-wrap: normal;
  white-space: nowrap;
}

.links {
  line-height: 24px;
  &-item {
    @include flex(row, center);
    margin-top: 40px;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
  }
  a {
    text-decoration: none;
    color: $link;
  }
  &-arrow {
    &-down {
      margin: 10px;
      pointer-events: none;
      width: 15px;
      -webkit-transition: transform 0.2s ease-in;
      transition: transform 0.2s ease-in;
    }
    &-up {
      margin: 10px;
      pointer-events: none;
      width: 15px;
      transform: rotate(180deg);
      -webkit-transition: transform 0.2s ease-in;
      transition: transform 0.2s ease-in;
    }
  }
}

.text-gradient {
  display: inline-block;

  font-family: $font5;
  font-weight: normal;
  letter-spacing: 0.1em;

  background: $gradient-btn;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.468947px;
  font-weight: bold;

  &::selection {
    -webkit-text-fill-color: $white;
  }

  ::selection {
    -webkit-text-fill-color: $white;
  }
}

.button {
  @include flex(row, center);
  cursor: pointer;
  gap: 18px;
  white-space: nowrap;
  &-big {
    @include flex(row, center, center);
    width: 231px;
    height: 65px;
    cursor: pointer;
    background: $gradient-btn;
    line-height: 62px;
    font-size: 25px;
    color: $white;
    font-weight: bold;

    @include b(400) {
      font-size: 20px;
    }
  }
  &-arrow {
    margin-right: 10px;
  }
  &-disabled {
    background: $gradient-button-disabled !important;
    cursor: default;
  }
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.mh10 {
  margin-left: 10px;
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}

.color-red {
  color: $red;
}
