$bg: #ffffff;
$white: #ffffff;
$blue: #5454d4;
$blue2: rgba(84, 84, 212, 0.67);
$blue3: rgba(84, 84, 212, 0.67);
$orange: #d5aa6c;
$red: red;
$lightorange: #ffeac0;
$white-opacity: rgba(255, 255, 255, 0.67);
$grey: #242424;
$grey2: #777;
$grey3:  #D9DBE1;
$lightgrey: #f4f4f4;
$lightgrey1: #fafafa;
$lightgrey2: #dedede;
$black:  #040404;
$purple: #6F45FF;
$purple2: #674DF6;
$footer-bg: #1A103D;
$link: #5454d4;
$scrollbar: rgba(133, 133, 133, 0.3);
$scrollbar-background: rgba(208, 208, 208, 0.2);
$gradient-bg: linear-gradient(90deg, #29145F 0%, #0D0520 100%);
$gradient-btn: linear-gradient(90deg, #6F45FF 0%, #FF6365 100%);


$gradient-button: linear-gradient(
  90deg,
  $blue2 0px,
  $blue2 7px,
  $blue 7px,
  $blue 100%
);
$gradient-button-disabled: linear-gradient(
  90deg,
  $blue2 0px,
  $blue2 7px,
  $blue3 7px,
  $blue3 100%
);

$shadow-container: 0px 4px 60px rgba(0, 0, 0, 0.05);
$shadow-dropdown: 0px 8px 15px rgba(0, 0, 0, 0.15);
$shadow-menu: 0 4px 40px rgba(0, 0, 0, 0.14);
$shadow-border: 0 0 0 1px lightgrey inset;

$font: "Ubuntu", normal;
$font2: "Comfortaa", normal;
$font3: "Josefin Sans", sans-serif;
$font4: "Poppins", sans-serif;
$font5: "Celias", sans-serif;
